* {background-color: #111111}

h1 {
    font-size: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #fbfbfa;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
    font-weight: 100;
    /* max-width: 800px; */
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

#output {
    font-family: monospace;
    white-space: pre;
    font-size: 10px;
    line-height: 10px;
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    overflow: auto;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;  
}

#fileInput {
    display: none;
}

.btn {
    background: none;
    color: #fbfbfa;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    border: none;
    font-size: 28px;
    text-transform: uppercase;
}

.btn:hover {
    background: none;
    color: #727271;
}

#preview {
    max-width: 400px;
    margin: 20px auto;
    display: none;
}

#controls {
    margin: 20px 0;
    display: none;
}

.supported-formats {
    color: #fbfbfa;
    font-size: 2em;
    margin: 10px 0;
}