* {background-color: #111111}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, sans-serif;
    font-weight: 100;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
    font-weight: 100;
    text-transform: uppercase;
    color: #fbfbfa;
    margin-bottom: 10px;
}

.supported-formats {
    color: #fbfbfa;
    font-size: 1.5em;
    margin-bottom: 20px;
}

#fileInput {
    display: none;
}

.btn {
    background: none;
    color: #fbfbfa;
    padding: 20px 24px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    border: none;
    font-size: 24px;
    text-transform: uppercase;
}

.btn:hover {
    /* background: none; */
    color: #727271;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 40px; 
    margin: 40px 0;
}

#preview, #output {
    /* flex: 1; */
    max-width: 50%;
}

#preview {
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    display: none;
}

#output {
    font-family: monospace;
    white-space: pre;
    font-size: 10px;
    line-height: 10px;
    background: #ffffff;
    padding: 20px;
    /* margin-top: 20px; */
    overflow: auto;
    text-align: center;
    display: none;
    border: 1px solid #ccc;

    margin-left: auto;
    margin-right: auto;
    /* width: 100%;   */
    width: fit-content;  
}


#controls {
    margin: 20px 0;
    display: none;
}
